.sec{
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(242,242,242);
    padding-left: 80px;
    padding-right: 80px;
    min-width: 300px;
}

figure{
    margin: 0;
}


.ul {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    /* padding: 5px; */
    max-width: 300px;
    /* margin: auto; */
    margin-right: 2px;
    margin-left: 2px;
    padding: 0;
  }
  
  .li {
    background-color: rgb(242,242,242);
    color: #000;
    font-family: 'raleway';
    /* padding: 3px; */
    text-align: center;
    text-decoration: none;
    display: flex;

  }

  .imagess{
      width: 1440px;
      max-width: 100%;
  }

  @media (max-width: 767px){
    .imagess{
        width: 270px;
        max-width: 100%;
    }
  }

  @media (max-width: 714px){
    .sec{
        padding-left: 30px;
        padding-right: 30px;
    }
  }

  @media (max-width: 611px){
    .imagess{
        width: 260px;
        max-width: 100%;
    }
  }

  @media (max-width: 591px){
    .imagess{
        width: 250px;
        max-width: 100%;
    }
  }

  @media (max-width: 571px){
    .imagess{
        width: 240px;
        max-width: 100%;
    }
  }

  @media (max-width: 551px){
    .imagess{
        width: 230px;
        max-width: 100%;
    }
  }

  @media (max-width: 531px){
    .imagess{
        width: 220px;
        max-width: 100%;
    }
  }

  @media (max-width: 511px){
    .imagess{
        width: 210px;
        max-width: 100%;
    }
  }

  @media (max-width: 491px){
    .imagess{
        width: 200px;
        max-width: 100%;
    }
  }

  @media (max-width: 471px){
    .imagess{
        width: 190px;
        max-width: 100%;
    }
  }

  @media (max-width: 451px){
    .imagess{
        width: 180px;
        max-width: 100%;
    }
  }

  @media (max-width: 431px){
    .imagess{
        width: 170px;
        max-width: 100%;
    }
  }

  @media (max-width: 411px){
    .imagess{
        width: 160px;
        max-width: 100%;
    }
  }

  @media (max-width: 391px){
    .imagess{
        width: 150px;
        max-width: 100%;
    }
  }

  @media (max-width: 371px){
    .imagess{
        width: 140px;
        max-width: 100%;
    }
  }

  @media (max-width: 364px){
    .imagess{
        width: auto;
        max-width: 100%;
    }
  }

  @media (max-width: 319px){
    .sec{
        padding-left: 10px;
        padding-right: 10px;
    }
  }

  @media (max-width: 280px){
    .sec{
        padding-left: 5px;
        padding-right: 5px;
    }
  }