/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
/* --------------------------------------------------------- Responsividade do Menu */

.titulo-produto {
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
    font-size: 60px;
    text-transform: inherit;
    padding-top: 35px;
    margin-bottom: 0px;
    background-color: rgb(242,242,242);
    color: rgba(82, 76, 76, 0.836);
  }
  .titulo-produtos {
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
    font-size: 45px;
    text-transform: inherit;
    padding-top: 35px;
    margin-bottom: 35px;
    background-color: rgb(242,242,242);
    color: rgba(82, 76, 76, 0.836);
  }

